.background {
  display: flex;
  flex-direction: column;
  background: url("https://i.redd.it/3m610dlaqgu41.png");
  background-size: cover;
  min-height: 100vh;
  min-width: 100vh;
}

.mapContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 50vh;
  margin-top: 30px;
  align-self: center;
}
